@import 'nib'

#main-controls
	.controls
		display: flex
		flex-wrap: wrap
		& > *
			flex-grow: 1

		h5 
			text-align: left
		.controls
			display: flex
			flex-wrap: wrap
			& > div
				flex-grow: 0
				padding-right: 0.5em

body
	font-family: Menlo, monospace

#heat-map
	width: 1980px
	height: 1980px
 